.schoolSubjectsImg{
    width: 150px;
    height: 200px;
    display: inline;    
    margin: 0 0 0 -50px;
    border: 2px solid cadetblue;
    position: relative;
}

#chemic, #history, #mathem, #russian_lang {
    cursor: pointer;    
}

#chemic:hover, #history:hover, #mathem:hover, #russian_lang:hover {
    z-index: 2;
    position: absolute; 
    bottom: 10px;   
}

