h1 {
  float: inline-start;
  margin: 150px 0 0 400px;
}

#face {
  width: 300px;
  height: 300px;
  background: yellow;
  border-radius: 50%;
  border: 1px solid black;
  position: relative;
  margin-left: 300px;
  cursor: pointer;
  transition: all 3s ease-in-out;
}

#face:hover {
  transition: all 3s ease-in-out;
  margin-left: 0px;
}

#eye {
  width: 50px;
  height: 50px;
  border: 1px solid;
  border-radius: 50%;
  top: 50px;
  position: absolute;
  left: 50%;
  background: cornflowerblue;
  transition: all 1s ease-in-out;
}

#eyeCenter {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 15px;
  left: 20px;
  position: absolute;
  background: green;
}

#eye:hover {
  transition: all 1s ease-in-out;
  background: #b0e0e6;
}

#mouth {
  width: 100px;
  height: 100px;
  background: white;
  position: absolute;
  top: 40%;
  right: 48px;
  transform: rotate(54deg) translate(60px, -60px);
  /* border-left: 1px solid;     */
}
/* #mouth:hover {
  transition: all 1s ease-in-out;
  transform: rotate(54deg) translate(80px, -120px);
  border-left: 0px solid;
  
} */

#close {
  width: 100%;
  height: 100%;
  border-left: 1px solid;
}

#close:hover {
  width: 100%;
  height: 100%;
  transition: all 1s ease-in-out;
  transform: rotate(40deg) translate(40px, 50px);
  border-left: 1px solid;
  opacity: 0;
}
