/* @media screen and (max-width: 1200px) {
}

@media screen and (max-width: 960px) {
}
*/

@media screen and (max-width: 1000px) {

  a, footer, .activeMenu {
    font-size: 12px;
  }

  .imgBox {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0 10px 0;
  }

  .passiveMenu {
  width: 50%;
  height: 30px;
  background: antiquewhite;
  border-bottom: 1px solid salmon;
  text-align: center;
  padding: 3px;
  font-size: 12px;
  color: saddlebrown;
  cursor: pointer;
}

#descriptionOfChoiseTopic {
  font-size: 12px;
  line-height: 1.5;
  margin: 15px;
  max-height: 500px;
  min-height: 500px;
}


  .nothinMobile {
    position: absolute;
    top: 0;
    font-size: 12px;
    font-weight: 600;
    font-style: italic;
    color: brown;
    right: -250px;
  }

  .basePlace {
    width: 100%;
    padding: 10px;
    overflow-y: auto;
  }

  footer {
    position: relative;
  }

  #localMap {
    position: absolute;
    right: -500px;
  }

  .localMapInMobile {
    position: absolute;
    left: 0;
    cursor: pointer;
    /* margin-top: -200px; */
    transition: all 1s ease-in-out;
  }

  .listOfTopicsItem:active {
    #listOfTopics {
      background-color: red;
    }
  }

  #openLeftMenu {
    display: block;
    width: 20%;
    position: absolute;
    right: 0;
    transform: rotate(90deg);
  }

  .leftMenu {
    width: 20%;
    margin-left: -150px;
    position: relative;
  }
  .leftMenuMobileOpen {
    width: 50%;
    height: 94%;
    margin-left: 0px;
    position: absolute;
    z-index: 2;
    opacity: 0.9;
    background: aliceblue;
  }

  #listOfTopics:active {
    all: initial;
  }
}

@media screen and (max-width: 800px) {
  

  .leftMenu {
    width: 30%;
  }
}

@media screen and (max-width: 540px) {
  .leftMenu {
    width: 60%;
  }
}
