* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  color: saddlebrown;
  margin: 20px auto;
}

ol {
  margin: 0 0 20px 30px;
  list-style-type: auto;
  font-size: 20px;
}

li {
  margin: 0 0 10px 0;
}

a {
  text-decoration: none;
}

body {
  background: #48d1cc;
  display: flex;
  justify-content: center;
}

.topMenuItem {
  color: burlywood;
  text-decoration: none;
  font-size: 12px;
}

.basePlace {
  background: linear-gradient(#afeeee, #48d1cc);
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 100px 10px 100px;
  overflow: hidden;
}

header {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  overflow: hidden;
}

#iconTop {
  width: 10%;
  cursor: pointer;
}

.imgBox {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0 30px 0;
}

.nothing {
  /* width: 50%; */
  position: absolute;
  bottom: 5px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  font-style: italic;
  color: brown;
  right: -250px;
  /* animation: 
    sloganMove */
}

/* @keyframes sloganMove {
  0% {
    right: -250px;
  }

  100% {
    right: 20px;
  }
  
} */

main {
  height: 85%;
  display: flex;
}

.leftMenu {
  width: 15%;
  border-right: 1px solid salmon;
  overflow: auto;
  scrollbar-color: rgba(255, 255, 255, 0.21) transparent;
}

#openLeftMenu {
  display: none;
}

.activeMenu {
  height: 30px;
  background: burlywood;
  border-bottom: 1px solid salmon;
  text-align: center;
  padding: 3px;
  font-size: 18px;
  color: saddlebrown;
  cursor: pointer;
}

.passiveMenu {
  width: 50%;
  height: 30px;
  background: antiquewhite;
  border-bottom: 1px solid salmon;
  text-align: center;
  padding: 3px;
  font-size: 18px;
  color: saddlebrown;
  cursor: pointer;
}

.passiveMenu:hover {
  background: burlywood;
}

#topics {
  border-right: 1px solid salmon;
  border-radius: 0 0 5px 0;
  margin-right: 2px;
}

.listOfTopicsItem {
  margin: 10px 0 10px 25px;
  font-size: 20px;
  color: antiquewhite;
  font-weight: 600;
  cursor: pointer;
}

.mainContent {
  width: 85%;
}

#content,
#credit {
  border-left: 1px solid salmon;
  border-radius: 0 0 0 5px;
  margin-left: 2px;
}

#credit {
  margin-left: 0;
}

#content:hover,
#credit:hover,
#topics:hover {
  background: burlywood;
}

#descriptionOfChoiseTopic {
  font-size: 18px;
  line-height: 1.5;
  margin: 15px;
}

#placeForProjects {
  width: 100%;
  margin: 15px 10px 10px 25px;
  font-size: 20px;
}

.projectsMenu {
  display: flex;
}

.contentDesc {
  max-height: 95%;
  overflow: auto;
  scrollbar-color: rgba(255, 255, 255, 0.21) transparent;
}

footer {
  height: 150px;
  border-top: 1px solid seashell;
  margin-top: 5px;
  display: flex;
}

#localMap {
  overflow: hidden;
  transition: all 2s ease-in-out;
  position: relative;
}

.localMapIn {
  cursor: pointer;
  margin-top: -200px;
  transition: all 1s ease-in-out;
}

.localMapOut {
  cursor: pointer;
  margin-top: 0px;
  transition: all 1s ease-in-out;
}

#intoMap {
  position: absolute;
  /* right: 0; */
  z-index: 2;
  background: antiquewhite;
  padding: 3px;
  color: brown;
}

.topMenu {
  text-align: right;
}

.topMenuItem:hover {
  color: brown;
  cursor: pointer;
}

#libraryLink {
  color: burlywood;
  text-decoration: none;
  display: none;
}

.SKlogo {
  width: 55%;
}
